@model BookDisplayResponse

<div class="card" style="height: 38rem; width: 12rem;">
    <img src="@Model.CoverImageUrl" class="img-fluid" alt="book-img">
    <div class="card-body">
        <h2 class="card-title">@Model.Title</h2>
        <p class="card-text"><b>@Model.AuthorName</b></p>
        <p class="card-text"><b>Türü: </b>@Model.Genre</p>
        <p class="card-text"><b>Basım Tarihi: </b>@Model.PublishDate.Year</p>
        
        <button class="btn btn-success library"  data-id="@Model.Id">Listeye Ekle</button>
    </div>
</div>